@{
    ViewData["Title"] = "Todos";
}
@todos List<Todo_Mvc.Models.Todos.getAll()>
<div>
  <h2>Todos</h2>
  <ul>
    @Todos.foreach(var todo in Todos){
      <li>
        <span>@todo.task</span>
        <input type="checkbox" />
      </li>
    }
  </ul>
</div>